body {
	background: rgba(22,7,15,.9);
	color: #FFFFFC;
	font-family: 'Ubuntu Mono', monospace;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.container {
	font-size: 18px;
	width: 70%;
	position: absolute;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.about_name {
	margin-left: 15px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.links, .link_output, .next {
	display: none;
}

.path {
	color: #639DD0;
	font-weight: bold;
}

.name {
	color: #8BDE30;
	font-weight: bold;
}

.file .symbol {
	color: #FAF9FA;
	font-weight: bold;
}
  
.folder {
	color: #639DD0;
	font-weight: 600;
}

a {
	color: #FAF9FA;
}

a.file, a.folder {
	margin-right: 25px;
	font-weight: bold;
}

.link_output {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 110%;
}

.highlights {
	font-size: 110%;
}

a:hover {
	cursor:pointer;
}

a.file:hover, a:hover { 
	text-shadow: #FFFFFC 0 0 10px;
}

a.folder:hover { 
	text-shadow: #639DD0 0 0 10px;
}
